<header class="mb-3 p-1">
  <div class="container ">
    <div class="row">
      <div class="header-left col-12 col-sm-4">
        <a routerLink="/"
           class="logo">
          <img src="/assets/img/logo.png"
               alt="Logo Doge" />
          <span>Doge4Life</span>
        </a>
      </div>
      <div class="header-right col-12 col-sm-8">
        <ul class="header-left__menu nav mb-2 mb-md-0">
          <li>
            <a routerLink="/market"
               class="nav-link px-2">
              Market
            </a>
          </li>
          <li>
            <a routerLink="/exchanges"
               class="nav-link px-2">
              Exchanges
            </a>
          </li>
          <li>
            <a routerLink="/shop"
               class="nav-link px-2">
              Buy ticket
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>