.mat-mdc-table {
  table-layout: fixed;
  width: 100%;
}

.green {
  background: #acd793;
}

.red {
  background: #ee4e4e;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.premium {
  background: #ffff80;
}

.premium-img {
    width: 30px;
}
